h5 {
    padding: 0px;
    margin: 0px;   
}


/* CSS styles for the title bar */
.title-bar {
    /* background-color: #333; */
    background: linear-gradient(to right, #335FB7, #262068);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.light-blue-btn {
    background-color: #5098E6; 
    color: #fff; /* Text color */
}


.large-button {
    padding: 10px 50px; 
    font-size: 16px; 
}



.removeSpacing {
    padding: 0px;
}


.box {
    border: 2px solid black;
    padding: 0px 0px 10px 10px;  
    margin: 0px;
  }


.card-color  {
    background: #2D3E50;  
    color: #fff; /* Text color */
}



.col-sm-9 {
    padding-right: 0;
}


.hide {
    display: none;          
  }



#add-top-spacing {
    padding: 30px 0px 20px 0px;
} 

#add-less-top-spacing {
    padding: 15px 0px 0px 0px;
} 


#remove-top-spacing {
    padding: 0px;
    margin: 0px;
}


