/* CSS styles for the title bar */

.title-bar {
    background: linear-gradient(to right, #335FB7, #262068);
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Styling for left side of screen control - BEGIN */

/* Search button styling */
.searchButton {
    background-color: #5098E6; 
    color: #fff; /* Text color */
}


/* City buttons styling */
.cityButtons {
    background-color: #AEAEAE; 
    color: black; /* Text color */ 
}


/* City button hover over styling */
.cityButtons:hover {
    color: #1A1A1A; /* Change 'your_hover_color' to the desired hover color */
    font-weight: bold;
}


/* when hover over button - it displays coloured box shadow */
.btn-primary-hover-shadow:hover {
    box-shadow: 0px 4px 8px  #73fbfd;
}


.box {
    border: 2px solid black;
    padding: 0px 0px 10px 10px;  
    margin: 0px;
}
/* Styling for left side of screen control - END */




/* Styling for right side of screen control - BEGIN */

/* Headings for City and 5 day forecast title  */
.city-header-current, .five-day-forecast-title {
    font-weight: bold;
}


/* 5 day forecast title */
.five-day-forecast-title {
    padding: 30px 0px 20px 0px;
    margin: 10px;
}


/* 5 cards for 5 day forecast */
.card-color  {
    /* Background colour */
    background: #2D3E50;  
    
    /* Text color */
    color: #fff; 
}


/* used to hide  */
.hide {
    display: none;          
}


/* Styling for right side of screen control - END */
